.lesson_slide {
    display: none;
    background: transparent;
    background: var(--s1);
    // border-top: var(--s2) solid 5px;
    color: white;
    font-size: 3vw;
    position: relative;
    animation: animateleft 0.4s cubic-bezier(.19, 1, .22, 1);
    padding: 10px 0px 0px 0px;
    text-align: center;
    &>div {
        padding: 5px;
        line-height: 1.1;
    }
    .grid {
        display: grid;
        grid-template-columns: 0.7fr 1.3fr;
        font-size: 0.6em;
        color: black;
        background: var(--s2);
        justify-content: center;
        align-items: center;
    }
}

@keyframes animateleft {
    from {
        left: -100%;
        background: black;
        opacity: 0.2;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

.show {
    display: block;
}