<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport mode="over" hasBackdrop="true" [attr.role]="'dialog'" opened="false">
        <mat-toolbar>Menu</mat-toolbar>
        <nav>
            <a matRipple routerLink="pranesimai" (click)="hide()" routerLinkActive="active">
                <i class="far fa-sticky-note"></i>
                <span>Pranešimai</span>
            </a>
            <a matRipple routerLink="tvarkarastis" (click)="hide()" routerLinkActive="active">
                <i class="fas fa-chalkboard fa-fw"></i>
                <span>Tvarkaraštis</span>
            </a>
            <a matRipple routerLink="nustatymai" (click)="hide()" routerLinkActive="active">
                <i class="fas fa-cogs fa-fw"></i>
                <span>Nustatymai</span>
            </a>
        </nav>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar>
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <header>
                <div class="logo">
                    <div style="position: relative;">
                        <img src="assets/logoblue.svg" />
                        <!-- <i style="color: red;position: absolute;left: 0px;bottom: 0px;/*! background: white; */border-radius: 10px;" class="fas fa-<?= $icon;?>-circle"></i> -->
                    </div>
                    <p>Ekranas.info</p>
                </div>
                <div class="menu-toggle" (click)="toggleMenu()"><i class="fas fa-bars"></i></div>
                <nav>
                    <a matRipple routerLink="pranesimai" (click)="hide()" routerLinkActive="active">
                        <i class="far fa-sticky-note"></i>
                        <span>Pranešimai</span>
                    </a>
                    <a matRipple routerLink="tvarkarastis" (click)="hide()" routerLinkActive="active">
                        <i class="fas fa-chalkboard fa-fw"></i>
                        <span>Tvarkaraštis</span>
                    </a>
                    <a matRipple routerLink="nustatymai" (click)="hide()" routerLinkActive="active">
                        <i class="fas fa-cogs fa-fw"></i>
                        <span>Nustatymai</span>
                    </a>
                </nav>
                <div class="dropdown">
                    <div class="user">
                        <img class="school-logo" src="{{ this.loginService.user.school.logo }}" />
                        <div class="details">
                            <p class="name">{{ this.loginService.user.name.split(' ')[0] }}</p>
                            <p class="role">{{ this.loginService.getRoleName() }}</p>
                        </div>
                        <i class="fas fa-angle-down"></i>
                    </div>
                    <div class="dropdown-right">
                        <a matRipple routerLink="paskyra" (click)="hide()">
                            <i class="fas fa-user-cog" aria-hidden="true"></i>
                            <span>Paskyros nustatymai</span>
                        </a>
                        <div matRipple class="hover" (click)="toggleDarkMode();">
                            <i class="fas fa-moon"></i>
                            <span>Tamsa</span>
                        </div>
                        <a matRipple (click)="loggout();" href="#">
                            <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                            <span>Atsijungti</span>
                        </a>
                    </div>
                </div>
            </header>
        </mat-toolbar>
    </mat-sidenav-content>
</mat-sidenav-container>