// .flex1 {
//     text-align: center;
//     -webkit-box-flex: 1;
//     -ms-flex: 1;
//     flex: 1;
// }
.flex2 {
    text-align: center;
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
}

.flex3 {
    text-align: center;
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
}

.notification {
    background: white;
    color: black;
    position: relative;
    padding: 0px;
    transition: 1s;
    margin: 0.6rem;
    overflow: hidden;
    .content {
        padding: 5px;
        margin: 5px;
    }
    .tools {
        opacity: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        position: absolute;
        bottom: 5px;
        right: 5px;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        background: rgba(255, 255, 255, 0.8);
        border: 1px solid #c13d1059;
        border-radius: 1em 1em 0 0;
        padding: 0px 10px;
        border-bottom: none;
        &>* {
            padding: 0.3em;
            margin: 0.3em;
        }
        i {
            color: var(--s5);
            &:hover {
                color: var(--s3);
            }
        }
    }
    &:hover .tools {
        /* opacity: 1; */
        -webkit-animation: bk 0.5s ease-out forwards;
        animation: bk 0.5s ease-out forwards;
    }
    &> :nth-child(1) i {
        color: white;
    }
    &> :nth-child(1) {
        background: -webkit-linear-gradient(left, #10192d, var(--s5));
        background: -o-linear-gradient(left, #10192d, var(--s5));
        background: linear-gradient(90deg, #10192d, var(--s5));
        color: white;
        padding: 6px;
    }
    &.relevant:not(.disabled)> :nth-child(1) {
        border-left: 12px red solid;
        -webkit-animation: blink alternate infinite 3s;
        animation: blink alternate infinite 3s;
    }
}

@keyframes blink {
    50% {
        border-left: 12px white solid;
    }
}

@keyframes bk {
    from {
        bottom: -2.7em;
        opacity: 0;
    }
    to {
        bottom: 0em;
        opacity: 1;
    }
}