<section class="notifications-page">
    <div class="side">
        <app-calendar></app-calendar>
        <div class="container" style="color: black; height: auto;">
            <mat-select [(ngModel)]="this.filters.mode" style="color: black;" (selectionChange)="this.toggleFilter()" [disabled]="this.busy == true">
                <mat-option [value]="'relevant'">Aktualūs</mat-option>
                <mat-option [value]="'archive'">Archyvas</mat-option>
                <mat-option [value]="'deleted'">Ištrinti</mat-option>
            </mat-select>
            <br>
        </div>
    </div>
    <div>
        <div class="title-button">
            <h1 class="title">Pranešimai</h1>
            <button type="button" (click)="selectNotificationDialog()" class="btn"><i class="fas fa-plus"></i>&nbsp;&nbsp;Pridėti pranešimą</button>
        </div>
        <div *ngIf="this.filters.mode == 'deleted'" class="info" style="margin: 10px 7px;"><i class="fas fa-info-circle"></i><span>Pranešimai, buvę šiukšliadėžėje daugiau nei 30 dienų, bus ištrinti automatiškai.</span></div>
        <ngx-masonry>
            <!-- [options]="myOptions" -->
            <notification ngxMasonryItem class="notification" *ngFor="let noti of this.notifications; let i = index" [data]='noti' [index]='i'></notification>
        </ngx-masonry>
        <div class="flex mbcolumn" *ngIf="this.notifications.length == 0">
            <i class="fas fa-sticky-note"></i>
            <div style="text-align: center;" class="container">Pranešimų nėra</div>
            <i class="fas fa-sticky-note"></i>
        </div>
    </div>
</section>