.account {
    max-width: 900px;
    margin: 20px auto;
}

.item-row {
    padding: 20px;
    -webkit-box-shadow: 0 0 10px 5px #0000001a;
    box-shadow: 0 0 10px 5px #0000001a;
    margin: 10px;
    display: grid;
    margin: 30px auto;
    border-radius: 100px;
    .without-cta {
        grid-column: 2/4;
    }
    &>div,
    &>strong {
        z-index: 2;
        align-self: center;
    }
    button {
        width: auto;
        margin: -20px;
        border-radius: 0px;
        align-self: stretch;
        justify-self: stretch;
        clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0% 100%);
    }
}

@media only screen and (min-width: 800px) {
    .item-row {
        grid-template-columns: 3fr 4fr 1fr;
        position: relative;
        overflow: hidden;
    }
    .item-row::before {
        content: "";
        -webkit-clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
        background: var(--ff);
        height: 100%;
        position: absolute;
        width: 270px;
    }
}

@media only screen and (max-width: 800px) {
    .item-row {
        grid-template-columns: 2fr auto;
        grid-column-gap: 10px;
        max-width: 500px;
    }
    .item-row> :first-child {
        font-size: 0.9em;
        color: #dbb064;
    }
    .item-row strong {
        grid-row: 2;
        word-break: break-word;
    }
    .item-row button {
        grid-column: 2;
        grid-row: 1/3;
        justify-self: center;
        align-self: center;
    }
}

#userRights>section {
    display: grid;
}

#userRights>section>div {
    padding: 15px 30px;
    background: #eee;
    margin: 10px;
    border-radius: 100px;
}

#userRights>section>div.selected {
    background: var(--s4);
}