.account {
    max-width: 900px;
    padding: 0em 1em;
    margin: auto;
}

.item-row {
    padding: 20px;
    box-shadow: 0 0 10px 5px #0000001a;
    margin: 10px;
    display: grid;
    margin: 30px auto;
    border-radius: 100px;
    grid-template-columns: 3fr 4fr 1fr;
    position: relative;
    overflow: hidden;
    .without-cta {
        grid-column: 2/4;
    }
    &>div {
        color: white;
    }
    &>div,
    &>strong {
        z-index: 2;
        align-self: center;
    }
    button {
        width: auto;
        margin: -20px;
        border-radius: 0px;
        align-self: stretch;
        justify-self: stretch;
        clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0% 100%);
    }
    &::before {
        content: "";
        clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
        background: var(--ff);
        height: 100%;
        position: absolute;
        width: 270px;
    }
}

@media only screen and (max-width: 800px) {
    .item-row {
        grid-template-columns: 2fr auto;
        grid-column-gap: 10px;
        max-width: 500px;
        &::before {
            display: none;
            content: none;
        }
        .without-cta {
            grid-column: 1/3;
        }
        &> :first-child {
            font-size: 0.9em;
            color: #dbb064;
        }
        strong {
            grid-row: 2/3;
            word-break: break-word;
        }
        button {
            grid-column: 2/3;
            grid-row: 1/3;
            justify-self: center;
        }
    }
}