<header [class.hidden]="this.hidden">
    <div class="logo">
        <div style="position: relative;">
            <img src="assets/logoblue.svg" />
            <!-- <i style="color: red;position: absolute;left: 0px;bottom: 0px;/*! background: white; */border-radius: 10px;" class="fas fa-<?= $icon;?>-circle"></i> -->
        </div>
        <p>Ekranas.info</p>
    </div>
    <div class="menu-toggle" *ngIf="isHandset$ | async" (click)="toggleMenu()"><i class="fas fa-bars"></i></div>
    <nav class="main" *ngIf="!(isHandset$ | async) || !this.hidden" @slide>
        <a matRipple routerLink="pranesimai" (click)="hide()" routerLinkActive="active">
            <i class="far fa-sticky-note"></i>
            <span>Pranešimai</span>
        </a>
        <a matRipple routerLink="tvarkarastis" (click)="hide()" routerLinkActive="active">
            <i class="fas fa-chalkboard"></i>
            <span>Tvarkaraštis</span>
        </a>
        <a matRipple routerLink="nustatymai" (click)="hide()" routerLinkActive="active">
            <i class="fas fa-cogs"></i>
            <span>Nustatymai</span>
        </a>
    </nav>
    <div class="dropdown" @slide *ngIf="!(isHandset$ | async) || !this.hidden">
        <div class="user">
            <img class="school-logo" src="{{ this.loginService.user.school.logo }}" />
            <div class="details">
                <p class="name">{{ this.loginService.user.name.split(' ')[0] }}</p>
                <p class="role">{{ this.loginService.getRoleName() }}</p>
            </div>
            <i class="fas fa-angle-down"></i>
        </div>
        <div class="dropdown-right">
            <a matRipple routerLink="paskyra" (click)="hide()">
                <i class="fas fa-user-cog" aria-hidden="true"></i>
                <span>Paskyros nustatymai</span>
            </a>
            <a matRipple class="hover" (click)="toggleDarkMode();hide()">
                <i class="fas fa-moon" [ngClass]="{'fas': true, 'fa-moon': !this.darkMode, 'fa-sun': this.darkMode }"></i>
                <span>{{ (this.darkMode) ? 'Šviesa' : 'Tamsa' }}</span>
            </a>
            <a matRipple (click)="loggout();" href="#">
                <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                <span>Atsijungti</span>
            </a>
        </div>
    </div>
    <!-- <div class="mobile-menu" *ngIf="isHandset$ | async">
        Mobile menu!
    </div> -->
</header>