<header>
    <div class="brand">
        <div class="dropdown">
            <!-- ?php
$changes = $db->query('SELECT receipt_time FROM schools WHERE id=' . (int)$_SESSION['user']->school->id . ';');
if ($changes->num_rows > 0)	{
$changes = $changes->fetch_assoc();
if (time() - strtotime($changes['receipt_time']) < 60 * 2) {
$aa =  '<div class="status ok">Ekranas veikia!</div>';
$icon = 'check';
}
elseif (time() - strtotime($changes['receipt_time']) < 60 * 4) {
$aa =  '<div class="status warning">Ekranas Galimas ekrano sutrikimas!</div>';
$icon = 'exclamation';
}
else {
$aa =  '<div class="status error">Ekranas neveikia!</div><div class="status error">Aktyvus buvo prieš ' . time_ago($changes['receipt_time']) . '</div>';
$icon = 'times';
}
}
?> -->
            <div style="position: relative;">
                <img src="assets/logolight.svg">
                <!-- <?php
switch ($icon) {
case 'check':
echo '#2ecc71';
break;
case 'exclamation':
echo '#e67e22';
break;
default:
echo 'red';
break;
}
?> -->
                <!-- <i style="color: red;position: absolute;left: 0px;bottom: 0px;/*! background: white; */border-radius: 10px;" class="fas fa-<?= $icon;?>-circle"></i> -->
            </div>
            <div class="dropdown-left">
                <!-- ?= $aa; ?> -->
            </div>
        </div>
        <div>
            <h1>Ekranas.INFO&nbsp;<sup>BETA</sup></h1>
        </div>
    </div>
    <nav>
        <div id="menuToggle" (click)="toggleMenu()"><i class="fas fa-bars"></i></div>
        <div id="toggled" [style.display]="(this.hidden) ? 'none': 'block'">
            <a routerLink="pranesimai" (click)="hide()" [class.active]="this.router.url == '/pranesimai'">Pranešimai</a>
            <a routerLink="tvarkarastis" (click)="hide()" [class.active]="this.router.url == '/tvarkarastis'">Tvarkaraštis</a>
            <a routerLink="nustatymai" (click)="hide()" [class.active]="this.router.url == '/nustatymai'">Nustatymai</a>
            <div class="dropdown">
                <span><i class="fas fa-user"></i><span>{{ this.loginService.user.name }}</span></span>
                <div class="dropdown-right">
                    <img class="details" src="{{ this.loginService.user.school.logo }}" />
                    <div>
                        <a routerLink="paskyra" (click)="hide()">
                            <i class="fas fa-user-cog" aria-hidden="true"></i>
                            <span>Paskyros nustatymai</span>
                        </a>
                    </div>
                    <div>
                        <a (click)="loggout();">
                            <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                            <span>Atsijungti</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>