:host {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    height: 140px;
    width: 140px;
    margin: auto;
    position: relative;
    display: block;
    padding: 2em;
}