<section class="fixed">
    <div class="main-title">
        <h1>Tvarkaraštis</h1>
        <div class="tools">
            <button type="button" class="transparent" (click)="openSettings()" *ngIf="this.data.settings.firstSemester != ''" @scale><mat-icon>settings</mat-icon></button>
            <button type="button" name="button" routerLink="/disciplinos">Disciplinos<mat-icon>keyboard_arrow_right</mat-icon></button>
        </div>
        <div class="mobile" *ngIf="this.data.settings.firstSemester != ''">
            <button type="button" name="button" routerLink="/disciplinos">Disciplinos<mat-icon>keyboard_arrow_right</mat-icon></button>
            <button type="button" (click)="openSettings()">Tvarkaraščio nustatymai<mat-icon>keyboard_arrow_right</mat-icon></button>
            <button type="button" name="button" (click)="this.selected = (this.selected == 1 ? 2 : 1)">{{ this.selected == 1 ? 'Antras' : 'Pirmas'}} pusmetis <mat-icon>keyboard_arrow_right</mat-icon></button>
        </div>
    </div>
    <div class="warning" *ngIf="this.data.currentSemester != 0 && this.data.numberOfSavedRows < 0" @scale>
        <i class="fas fa-exclamation-triangle"></i>
        <span>Pusmetis jau prasidėjęs, bet nėra įvesta {{this.data.currentSemester == 1 ? 'pirmojo' : 'antrojo'}} tvarkaraščio duomenų!</span>
    </div>
    <div class="info" *ngIf="!this.data.settings.showTimetable && this.data.settings.firstSemester != ''" @scale>
        <i class="fas fa-info"></i>
        <span>Tvarkaraštis nerodomas!</span>
    </div>
    <div class="container" *ngIf="this.data.settings.firstSemester != ''" @EnterLeaveY>
        <div class="selector">
            <button type="button" style="background: transparent;border: none;" (click)="this.selected = (this.selected == 1 ? 2 : 1)" *ngIf="this.selected == 2">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <div class="semester">
                <h1>{{ this.selected == 1 ? 'Pirmas' : 'Antras'}} pusmetis</h1>
                <h2>{{ this.selected == 1 ? this.data.settings.firstSemester + " - " + this.data.settings.secondSemester : this.data.settings.secondSemester + " - " + this.data.settings.endSemesters}}</h2>
            </div>
            <button type="button" class="transparent" (click)="this.selected = (this.selected == 1 ? 2 : 1)" *ngIf="this.selected == 1">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
        <div class="week">
            <button type="button" class="day" [routerLink]="[this.selected, 1]">
                <p>P</p>
                <div class="label">PIRMADIENIS</div>
                <mat-icon>{{ this.loginService.user.role == 0 ? 'remove_red_eye' : 'edit'}}</mat-icon>
            </button>
            <button type="button" class="day" [routerLink]="[this.selected, 2]">
                <p>A</p>
                <div class="label">ANTRADIENIS</div>
                <mat-icon>{{ this.loginService.user.role == 0 ? 'remove_red_eye' : 'edit'}}</mat-icon>
            </button>
            <button type="button" class="day" [routerLink]="[this.selected, 3]">
                <p>T</p>
                <div class="label">TREČIADIENIS</div>
                <mat-icon>{{ this.loginService.user.role == 0 ? 'remove_red_eye' : 'edit'}}</mat-icon>
            </button>
            <button type="button" class="day" [routerLink]="[this.selected, 4]">
                <p>K</p>
                <div class="label">KETVIRTADIENIS</div>
                <mat-icon>{{ this.loginService.user.role == 0 ? 'remove_red_eye' : 'edit'}}</mat-icon>
            </button>
            <button type="button" class="day" [routerLink]="[this.selected, 5]">
                <p>Pn</p>
                <div class="label">PENKTADIENIS</div>
                <mat-icon>{{ this.loginService.user.role == 0 ? 'remove_red_eye' : 'edit'}}</mat-icon>
            </button>
        </div>
    </div>
</section>