<section class="fixed">
    <div class="container">
        <div *ngIf="this.loginService.user.role > 0; else elseBlock">
            <button type="button" name="button" class="btn" routerLink="/disciplinos" style="margin: 5px 2px 16px 2px;border-radius: 2px;"><i class="fas fa-edit"></i>&nbsp;Redaguoti disciplinas</button>
            <select id="show_timetable" style="height:40px;" (change)="updateSettings()" [(ngModel)]="this.dates.showTimetable">
                <option value="false">Tvarkaraščio rodymas išjungtas</option>
                <option value="true">Tvarkaraščio rodymas įjungtas</option>
            </select>
        </div>
        <ng-template #elseBlock>
            <button type="button" name="button" class="btn" routerLink="/disciplinos" style="margin: 5px 2px 16px 2px;border-radius: 2px;">Peržiūrėti disciplinas</button>
        </ng-template>
    </div>

    <div class="container">
        <div class="title">Pirmas pusmetis</div>
        <div style="text-align: end;">
            <span>Prasideda:</span>
            <input class="inline" type="date" name="firstSemester" (change)="updateSettings()" [(ngModel)]="this.dates.firstSemester">
        </div>
        <div class="warning" *ngIf="this.dates.currentSemester == 1 && this.dates.numberOfSavedRows < 0">
            <i class="fas fa-exclamation-triangle"></i>
            <span>Pusmetis jau prasidėjęs, bet nėra įvesta pirmojo tvarkaraščio duomenų!</span>
        </div>
        <div class="week">
            <div class="day" routerLink="1/1">PIRMADIENIS
                <div class="label">{{ this.loginService.user.role == 0 ? 'Peržiūrėti' : 'Peržiūrėti / redaguoti'}}</div>
            </div>
            <div class="day" routerLink="1/2">ANTRADIENIS
                <div class="label">{{ this.loginService.user.role == 0 ? 'Peržiūrėti' : 'Peržiūrėti / redaguoti'}}</div>
            </div>
            <div class="day" routerLink="1/3">TREČIADIENIS
                <div class="label">{{ this.loginService.user.role == 0 ? 'Peržiūrėti' : 'Peržiūrėti / redaguoti'}}</div>
            </div>
            <div class="day" routerLink="1/4">KETVIRTADIENIS
                <div class="label">{{ this.loginService.user.role == 0 ? 'Peržiūrėti' : 'Peržiūrėti / redaguoti'}}</div>
            </div>
            <div class="day" routerLink="1/5">PENKTADIENIS
                <div class="label">{{ this.loginService.user.role == 0 ? 'Peržiūrėti' : 'Peržiūrėti / redaguoti'}}</div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="title">Antras pusmetis</div>
        <!-- <div style="text-align: end;">
        <span>Prasideda:</span>
        <mat-form-field appearance="fill">
            <mat-label>pusmetis</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>date_range</mat-icon>
        </mat-form-field>
        <input class="inline" type="date" name="second_semester" id="second_semester" value="2019-01-21">
    </div> -->
        <div style="text-align: end;">
            <span>Prasideda:</span>
            <input class="inline" type="date" name="secondSemester" (change)="updateSettings()" [(ngModel)]="this.dates.secondSemester">
        </div>
        <div class="warning" *ngIf="this.dates.currentSemester == 2 && this.dates.numberOfSavedRows < 0">
            <i class="fas fa-exclamation-triangle"></i>
            <span>Pusmetis jau prasidėjęs, bet nėra įvesta antrojo tvarkaraščio duomenų!</span>
        </div>
        <div class="week">
            <div class="day" routerLink="2/1">PIRMADIENIS
                <div class="label">{{ this.loginService.user.role == 0 ? 'Peržiūrėti' : 'Peržiūrėti / redaguoti'}}</div>
            </div>
            <div class="day" routerLink="2/2">ANTRADIENIS
                <div class="label">{{ this.loginService.user.role == 0 ? 'Peržiūrėti' : 'Peržiūrėti / redaguoti'}}</div>
            </div>
            <div class="day" routerLink="2/3">TREČIADIENIS
                <div class="label">{{ this.loginService.user.role == 0 ? 'Peržiūrėti' : 'Peržiūrėti / redaguoti'}}</div>
            </div>
            <div class="day" routerLink="2/4">KETVIRTADIENIS
                <div class="label">{{ this.loginService.user.role == 0 ? 'Peržiūrėti' : 'Peržiūrėti / redaguoti'}}</div>
            </div>
            <div class="day" routerLink="2/5">PENKTADIENIS
                <div class="label">{{ this.loginService.user.role == 0 ? 'Peržiūrėti' : 'Peržiūrėti / redaguoti'}}</div>
            </div>
        </div>
    </div>

    <div class="container">
        <div style="text-align: end;">
            <span>Mokslo metų pabaiga:</span>
            <input class="inline" type="date" name="endSemesters" (change)="updateSettings()" [(ngModel)]="this.dates.endSemesters">
        </div>
    </div>

</section>