.main-title {
    background: rgba($color: #000000, $alpha: .2);
    width: 100%;
    display: flex;
    justify-content: space-between;
    .mobile {
        display: none;
    }
    h1 {
        font-size: 2em;
        padding: 0.4em;
    }
    mat-icon {
        font-size: 2em;
        cursor: pointer;
        &:hover {
            color: var(--s5);
        }
    }
    .tools {
        margin-right: 0.5rem;
        display: flex;
        align-items: center;
        &>* {
            margin: 0.5rem;
        }
    }
    @media (max-width: 500px) {
        display: block;
        .mobile button {
            width: 100%;
            display: grid;
            grid-template-columns: 9fr 1fr;
            justify-items: center;
            align-items: center;
            justify-content: center;
            margin: 5px 0px;
        }
        .tools {
            display: none;
        }
        .mobile {
            display: block;
        }
    }
}

button {
    justify-items: center;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0px 0px 0px 10px;
}

.selector {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    @media (max-width: 500px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        mat-icon {
            display: none;
        }
    }
    .semester {
        margin: 0.6em;
    }
    h1 {
        font-size: 1.6em;
        font-weight: bold;
    }
    h2 {
        font-size: 1.2em;
    }
    mat-icon {
        font-size: 5em;
        cursor: pointer;
    }
}

.mat-form-field-flex {
    background: red;
    border-radius: 4px 4px 0 0;
    padding: .75em;
}

.week {
    min-width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .day {
        position: relative;
        overflow: hidden;
        min-width: 160px;
        color: black;
        word-break: break-all;
        background-color: var(--s2);
        padding: 5px;
        margin: 10px 5px;
        width: 14%;
        height: 200px;
        display: -ms-grid;
        display: grid;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-shadow: 0 0 8px #ffffff30;
        box-shadow: 0 0 8px #ffffff30;
        transition: 0.5s ease-in;
        font-size: 3em;
        .label {
            font-size: 1rem;
            position: absolute;
            bottom: 0.2em;
            text-align: center;
            left: 0px;
            right: 0px;
            opacity: 0.4;
            // transition: 0.5s;
            margin: 0px;
        }
        mat-icon {
            color: white;
            opacity: 0;
            position: absolute;
            bottom: 0%;
            right: 0.1em;
            font-size: 1em;
            transition: 0.4s ease-in;
            transform: translate(0%, 50%);
        }
        &:hover {
            color: white;
            background: var(--s5);
            // transform: scale(1.2);
            z-index: 9;
            p {
                color: white;
                transition: 0.4s ease-in;
                transform: scale(1.6);
            }
            .label {
                opacity: 1;
            }
            mat-icon {
                bottom: 30%;
                opacity: 1;
            }
        }
    }
    @media (max-width: 500px) {
        .day {
            height: auto;
            width: 100%;
            padding: 1rem 0em;
        }
        mat-icon {
            display: none;
        }
    }
}