<h1>Pasirinkite tipą:</h1>
<div class="flex" mat-dialog-actions>
    <button class="card" [mat-dialog-close]="1">
        <i class="maxi fas fa-font"></i>
        <h2>Tekstinis pranešimas</h2>
    </button>
    <button class="card" [mat-dialog-close]="2">
        <i class="maxi fas fa-image"></i>
        <h2>Nuotrauka</h2>
    </button>
    <!-- <button class="card" [mat-dialog-close]="3">
        <i class="maxi fas fa-video"></i>
        <h2>Vaizdo įrašas</h2>
    </button>
    <button class="card" [mat-dialog-close]="4">
        <i class="maxi fas fa-smile-beam"></i>
        <h2>Renginio užsklanda</h2>
    </button> -->
</div>