.maxi {
    font-size: 100px;
    width: 160px;
    height: 160px;
    background: white;
    color: var(--s5);
    padding: 30px;
    display: inline-block;
    border-radius: 90px;
    margin: 15px;
}

.card {
    background-color: var(--s1);
    color: white;
    margin: 0.5em;
    border-radius: 0.3em;
    padding: 1em;
    width: 16em;
}