.flag {
    width: 6vw;
    background-color: black;
    background-image: linear-gradient( 90deg, #fdba0b, #fdba0b 33%, #006a42 33%, #006a42 66%, #c22229 66%);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    z-index: -200;
}

.neuz {
    background-image: url("/assets/neuz.png");
    background-size: cover;
    position: fixed;
}

#s1 {
    width: 55px;
    height: 55px;
    animation: sn1 17s infinite linear;
}

@keyframes sn1 {
    0% {
        top: -14%;
        left: 25%;
        transform: rotate(66deg);
    }
    100% {
        top: 125%;
        left: 95%;
        transform: rotate(1318deg);
    }
}

#s2 {
    width: 86px;
    height: 86px;
    animation: sn2 14s infinite linear;
}

@keyframes sn2 {
    0% {
        top: -36%;
        left: 76%;
        transform: rotate(17deg);
    }
    100% {
        top: 111%;
        left: 82%;
        transform: rotate(553deg);
    }
}

#s3 {
    width: 70px;
    height: 70px;
    animation: sn3 10s infinite linear;
}

@keyframes sn3 {
    0% {
        top: -37%;
        left: 96%;
        transform: rotate(48deg);
    }
    100% {
        top: 172%;
        left: 65%;
        transform: rotate(939deg);
    }
}

#s4 {
    width: 30px;
    height: 30px;
    animation: sn4 19s infinite linear;
}

@keyframes sn4 {
    0% {
        top: -38%;
        left: 53%;
        transform: rotate(19deg);
    }
    100% {
        top: 160%;
        left: 55%;
        transform: rotate(1310deg);
    }
}

#s5 {
    width: 87px;
    height: 87px;
    animation: sn5 24s infinite linear;
}

@keyframes sn5 {
    0% {
        top: -42%;
        left: 98%;
        transform: rotate(62deg);
    }
    100% {
        top: 129%;
        left: 26%;
        transform: rotate(1321deg);
    }
}

#s6 {
    width: 107px;
    height: 107px;
    animation: sn6 21s infinite linear;
}

@keyframes sn6 {
    0% {
        top: -11%;
        left: 57%;
        transform: rotate(20deg);
    }
    100% {
        top: 129%;
        left: 77%;
        transform: rotate(762deg);
    }
}

#s7 {
    width: 100px;
    height: 100px;
    animation: sn7 15s infinite linear;
}

@keyframes sn7 {
    0% {
        top: -14%;
        left: 8%;
        transform: rotate(32deg);
    }
    100% {
        top: 171%;
        left: 95%;
        transform: rotate(1000deg);
    }
}

#s8 {
    width: 82px;
    height: 82px;
    animation: sn8 10s infinite linear;
}

@keyframes sn8 {
    0% {
        top: -17%;
        left: 95%;
        transform: rotate(48deg);
    }
    100% {
        top: 164%;
        left: 55%;
        transform: rotate(1077deg);
    }
}

#s9 {
    width: 83px;
    height: 83px;
    animation: sn9 14s infinite linear;
}

@keyframes sn9 {
    0% {
        top: -29%;
        left: 26%;
        transform: rotate(22deg);
    }
    100% {
        top: 153%;
        left: 96%;
        transform: rotate(1733deg);
    }
}

#s10 {
    width: 90px;
    height: 90px;
    animation: sn10 9s infinite linear;
}

@keyframes sn10 {
    0% {
        top: -48%;
        left: 91%;
        transform: rotate(70deg);
    }
    100% {
        top: 175%;
        left: 33%;
        transform: rotate(904deg);
    }
}

#s11 {
    width: 88px;
    height: 88px;
    animation: sn11 18s infinite linear;
}

@keyframes sn11 {
    0% {
        top: -18%;
        left: 42%;
        transform: rotate(93deg);
    }
    100% {
        top: 171%;
        left: 69%;
        transform: rotate(1478deg);
    }
}

#s12 {
    width: 50px;
    height: 50px;
    animation: sn12 13s infinite linear;
}

@keyframes sn12 {
    0% {
        top: -48%;
        left: 10%;
        transform: rotate(82deg);
    }
    100% {
        top: 135%;
        left: 31%;
        transform: rotate(421deg);
    }
}

#s13 {
    width: 97px;
    height: 97px;
    animation: sn13 13s infinite linear;
}

@keyframes sn13 {
    0% {
        top: -35%;
        left: 61%;
        transform: rotate(44deg);
    }
    100% {
        top: 165%;
        left: 11%;
        transform: rotate(299deg);
    }
}

#s14 {
    width: 74px;
    height: 74px;
    animation: sn14 25s infinite linear;
}

@keyframes sn14 {
    0% {
        top: -42%;
        left: 17%;
        transform: rotate(13deg);
    }
    100% {
        top: 166%;
        left: 14%;
        transform: rotate(986deg);
    }
}

#s15 {
    width: 77px;
    height: 77px;
    animation: sn15 22s infinite linear;
}

@keyframes sn15 {
    0% {
        top: -28%;
        left: 21%;
        transform: rotate(14deg);
    }
    100% {
        top: 141%;
        left: 95%;
        transform: rotate(1460deg);
    }
}

#s16 {
    width: 72px;
    height: 72px;
    animation: sn16 19s infinite linear;
}

@keyframes sn16 {
    0% {
        top: -20%;
        left: 51%;
        transform: rotate(48deg);
    }
    100% {
        top: 154%;
        left: 47%;
        transform: rotate(853deg);
    }
}

#s17 {
    width: 87px;
    height: 87px;
    animation: sn17 10s infinite linear;
}

@keyframes sn17 {
    0% {
        top: -35%;
        left: 32%;
        transform: rotate(61deg);
    }
    100% {
        top: 143%;
        left: 92%;
        transform: rotate(1380deg);
    }
}

#s18 {
    width: 99px;
    height: 99px;
    animation: sn18 13s infinite linear;
}

@keyframes sn18 {
    0% {
        top: -16%;
        left: 86%;
        transform: rotate(90deg);
    }
    100% {
        top: 125%;
        left: 40%;
        transform: rotate(279deg);
    }
}

#s19 {
    width: 85px;
    height: 85px;
    animation: sn19 14s infinite linear;
}

@keyframes sn19 {
    0% {
        top: -31%;
        left: 69%;
        transform: rotate(52deg);
    }
    100% {
        top: 180%;
        left: 95%;
        transform: rotate(1750deg);
    }
}

#s20 {
    width: 114px;
    height: 114px;
    animation: sn20 8s infinite linear;
}

@keyframes sn20 {
    0% {
        top: -16%;
        left: 96%;
        transform: rotate(38deg);
    }
    100% {
        top: 126%;
        left: 64%;
        transform: rotate(666deg);
    }
}