<h1>Pranešimo {{ ((!this.config.edit) ? 'pridėjimas' : 'informacijos redagavimas') }}</h1>
<form #NotificationForm="ngForm" (ngSubmit)="submit(NotificationForm)" *ngIf="!this.busy">
    <div class="contents">
        <fieldset>
            <legend><i class="fas fa-calendar-alt"></i> Rodymas</legend>
            <mat-form-field *ngIf="!this.formData.repeatTimes">
                <input matInput [matDatepicker]="picker" placeholder="Data" name="date1" id="date1" [(ngModel)]="this.formData.date1" required #date1="ngModel">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker touchUi></mat-datepicker>
            </mat-form-field>
            <div *ngIf="this.formData.repeatTimes">
                <mat-form-field style="padding-right: 15px;">
                    <input matInput [matDatepicker]="picker2" placeholder="Rodyti nuo" name="date1" id="date1" [(ngModel)]="this.formData.date1" #date1="ngModel">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2 touchUi></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [matDatepicker]="picker3" placeholder="iki" name="date2" id="date2" [(ngModel)]="this.formData.date2" #date2="ngModel">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3 touchUi></mat-datepicker>
                </mat-form-field>
            </div>
            <!-- <span tooltip="Pasirinkus taip, pranešimas bus rodomas viena diena prieš pagrindinę pranešimo datą." flow="right"><i class="fas fa-question-circle"></i></span> -->
            <div class="toggle-grid">
                <label>Išankstinis rodymas</label>
                <mat-slide-toggle (change)="this.formData.showBefore = !this.formData.showBefore;" [checked]="this.formData.showBefore">{{ this.formData.showBefore ? 'Taip': 'Ne' }}</mat-slide-toggle>
            </div>
            <div class="toggle-grid">
                <label><i class="fas fa-redo-alt"></i> Pasikartojimas</label>
                <mat-slide-toggle (change)="this.formData.repeatTimes = !this.formData.repeatTimes;" [checked]="this.formData.repeatTimes">{{ this.formData.repeatTimes ? 'Kartoti': 'Nėra' }}</mat-slide-toggle>
            </div>
            <div class="info" style="max-width: 550px;">
                <i class="fas fa-info-circle"></i>
                <div class="showing">{{ showDatesList() }}</div>
            </div>
        </fieldset>
        <fieldset *ngIf="!this.config.files">
            <legend><i class="fas fa-info"></i> Informacija</legend>
            <app-text-field [formData]="this.formData"></app-text-field>
        </fieldset>
        <fieldset *ngIf="this.config.files">
            <legend><i class="fas fa-image"></i> Nuotraukos</legend>
            <app-images-field (newUpload)="uploadsDistribution($event)" [formData]="this.formData"></app-images-field>
        </fieldset>
        <!-- <fieldset *ngIf="this.config.files">
            <legend><i class="fas fa-image"></i> Vaizdo įrašas</legend>
            <app-video-field [formData]="this.formData"></app-video-field>
        </fieldset>
        <fieldset *ngIf="this.config.files">
            <legend><i class="fas fa-image"></i> Užsklanda</legend>
            <app-slide-field [formData]="this.formData"></app-slide-field>
        </fieldset> -->
    </div>
    <mat-dialog-actions>
        <button type="submit" class="btn">{{ (this.config.edit) ? 'Išsaugoti' : 'Pridėti' }}</button>
        <button type="button" class="btn" mat-dialog-close>Atšaukti</button>
    </mat-dialog-actions>
</form>

<spinner *ngIf="this.busy"></spinner>