// .mat-form-field {
//     display: block;
// }
label {
    display: block;
}

.toggle-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    padding-bottom: 1.25em;
    justify-content: center;
    align-items: center;
    max-width: 600px;
}

.contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

fieldset {
    border: 3px #cb4332 solid;
}

.file-select {
    background-color: #e9ecef;
    color: black;
    display: inline-flex;
    justify-content: space-around;
    width: 120px;
    align-items: center;
}

.photos {
    justify-content: center;
    display: flex;
    grid-template-columns: 300px;
    flex-wrap: wrap;
}

.photos img {
    padding: 5px;
    width: 20vw;
    height: 20vw;
    min-width: 250px;
    min-height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

img.selected::after {
    background: white;
    border-radius: 50%;
    bottom: 0.3rem;
    box-shadow: inset 0 0 0 0.15rem var(--s5);
    color: var(--s5);
    content: attr(data-pos);
    font-size: 1.5rem;
    font-weight: bold;
    height: 2em;
    line-height: 2em;
    opacity: 0;
    position: absolute;
    right: 0.3rem;
    text-align: center;
    transition: all 0.3s ease-out;
    width: 2em;
}

// ------------------- Uploads --------------------
#preview-box {
    display: flex;
    flex-wrap: wrap;
}

.preview {
    margin: 5px;
    background: #e9ecef;
    position: relative;
}

.preview:first-child:last-child img {
    width: 100%;
    height: auto;
}

.preview img,
.preview div {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.preview div {
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    color: #d8000c;
    background: #ffbaba;
}

.preview i.minus {
    position: absolute;
    bottom: -0.4em;
    right: -0.4em;
    padding: 0px;
    background: red;
    background: #fff;
    border-radius: 60%;
    font-size: 1em;
    color: var(--s5);
}

img[src^="assets/p.gif"] {
    transform: scale(0.6);
}

.preview span {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 1.8em;
    display: block;
    background: #e9ecef;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100px;
    overflow: hidden;
    font-size: 0.6em;
    border-top-right-radius: 10px;
}