@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700');
.container h3 i {
    padding-right: 20px;
    font-size: 1.5em;
}

.container {
    background: #0003;
    padding: 0px;
    padding-bottom: 10px;
}

.container h3 {
    background: var(--ff);
    padding: 8px 20px;
    display: flex;
    align-items: center;
}