@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700');
.container {
    background: var(--component-bg);
    color: var(--component-text);
    padding: 0px;
    padding-bottom: 10px;
    position: sticky;
    top: 7em;
    min-height: 15em;
    h3 {
        background: var(--ff);
        color: white;
        padding: 8px 20px;
        display: flex;
        align-items: center;
        i {
            padding-right: 20px;
            font-size: 1.5em;
        }
    }
}

.parent-container {
    min-height: 90vh;
    position: relative;
}