<h1>Disciplinos {{ ((!this.config.edit) ? 'pridėjimas' : 'redagavimas') }}</h1>
<spinner *ngIf="this.busy"></spinner>
<form #DisciplineForm="ngForm" (ngSubmit)="submit(DisciplineForm)" *ngIf="!this.busy">
    <mat-form-field class="full-width">
        <input matInput placeholder="Mokytoja(s)" name="teacher" maxlength="80" required [(ngModel)]="this.config.data.teacher" #teacher="ngModel">
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput placeholder="Mokomasis dalykas" name="discipline" maxlength="80" required [(ngModel)]="this.config.data.name" #name="ngModel">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Kabinetas" name="room" maxlength="80" required [(ngModel)]="this.config.data.room" #room="ngModel">
    </mat-form-field>
    <mat-dialog-actions>
        <button type="submit" class="btn">{{ (this.config.edit) ? 'Išsaugoti' : 'Pridėti' }}</button>
        <button type="button" class="btn" mat-dialog-close>Atšaukti</button>
    </mat-dialog-actions>
</form>