.option {
    position: relative;
    margin: 20px;
    i.minus {
        position: absolute;
        bottom: -12px;
        right: -12px;
        padding: 0px;
        background: red;
        background: #000;
        border-radius: 60%;
        font-size: 1.4em;
        &:hover {
            font-size: 1.6em;
        }
    }
}

.selectBox {
    padding: 5px;
    text-align: center;
    min-width: 230px;
    width: 15vw;
    border-color: #464646;
    border-radius: 5px;
    border-style: solid;
    border-width: 5px;
    background: var(--ss);
    min-height: 250px;
    div {
        font-family: 'Source Code Pro', monospace;
        padding-top: 10px;
        color: var(--container-text);
        white-space: pre-wrap;
    }
    &.active {
        border-color: var(--s5);
    }
    &:hover h2 {
        color: var(--s5);
    }
    &.add {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        i {
            font-size: 2.5em;
            color: var(--container-text);
        }
    }
}

i {
    color: white;
}

.alltimes p {
    padding: 10px;
}