.notification {
    font-family: 'Georgia';
    // line-height: 1;
    padding: 6px;
    .author {
        font-size: 0.5em;
        text-align: right;
        display: block;
        color: black;
        position: absolute;
        bottom: 0px;
        padding: 5px;
        background: var(--s2);
        right: 10px;
    }
    position: relative;
    border-left: 40px solid var(--s4);
    padding-left: 10px;
    min-height: 160px;
}

.slide img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    background: white;
    color: black;
    max-height: 90vh;
}

.authorMargin {
    padding-bottom: 35px;
}

.e1 {
    background-color: var(--bg1);
    color: var(--text1);
}

.e2 {
    background-color: var(--bg2);
    color: var(--text2);
}

aside {
    font-size: 30px;
    font-family: 'Cantora One', sans-serif;
    letter-spacing: 2px;
    background: #369;
    color: #fff;
    padding: 5px 10px;
    margin: 0 0 10px 0;
    position: absolute;
    top: 0;
    left: 0;
    /* Border is the new background */
    background: none;
    /* Rotate from top left corner (not default) */
    transform-origin: 0 0;
    transform: rotate(90deg);
}