
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$admin-part-primary: mat.define-palette(mat.$indigo-palette);
$admin-part-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$admin-part-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$admin-part-theme: mat.define-light-theme((
  color: (
    primary: $admin-part-primary,
    accent: $admin-part-accent,
    warn: $admin-part-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($admin-part-theme);

@import url("https://fonts.googleapis.com/css?family=Catamaran:400,700,800|PT+Sans:400,400i,700,700i|Poppins:300,400,500,600,700&subset=latin-ext");
:root {
    --ff: linear-gradient(90deg, #10192d, var(--s5));
    --bg: #eeeeee;
    --text: #233151;
    --component-bg: #FFF;
    --component-text: #000;
    // --s1: #250448;
    // --s2: #0265f6;
    // --s3: #F9BD0E;
    // --s4: #fdcb01;
    // --s5: #F60261;
    // --bg: #233151;
    --s1: #233151;
    --s2: #90A711;
    --s3: #F9BD0E;
    --s4: #DBB064;
    --s5: #C13D10;
}

:root {
    --red: #ff3860;
    --red-dark: #ff1443;
    --red-light: #ff5c7c;
    --blue: #498afb;
    --blue-dark: #2674fa;
    --blue-light: #6ca0fc;
    --orange: #fa8142;
    --orange-dark: #f96a1f;
    --orange-light: #fb9865;
    --green: #09c372;
    --green-dark: #07a15e;
    --green-light: #0be586;
    --purple: #9166cc;
    --purple-dark: #7d4bc3;
    --purple-light: #a481d5;
    --yellow: #ffdd57;
    --yellow-dark: #ffd633;
    --yellow-light: #ffe47a;
    --pink: #ff4088;
    --pink-dark: #ff1c72;
    --pink-light: #ff649e;
    --gray0: #f8f8f8;
    --gray1: #dbe1e8;
    --gray2: #b2becd;
    --gray3: #6c7983;
    --gray4: #454e56;
    --gray5: #2a2e35;
    --gray6: #12181b;
    --nav-width: 4em;
    --font-body: "sofia-pro", sans-serif;
    --font-head: "sofia-pro", sans-serif;
    --font-code: "attribute-mono", monospace;
    --font-size: 20px;
    --max-width-bp: 768px;
    --orange-pink: linear-gradient(to bottom right, var(--orange-light), var(--orange-dark) 85%);
    --green-grad: linear-gradient(to bottom right, var(--green-light), var(--green-dark) 85%);
    --background: var(--gray6);
    --text-color: var(--gray2);
    --h-color: #fff;
    --nav-shadow: 4px 0 10px -3px #010101;
    --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.38);
    --toc-shadow: rgba(0, 0, 0, 0.7) 0px 10px 20px 0px;
    --nav-bg: var(--gray5);
    --tag-bg: var(--gray4);
    --code-bg: #22262f;
    --card-bg: var(--gray5);
    --overlay-bg: rgba(0, 0, 0, 0.9);
    --h-border: 2px dashed var(--nav-bg);
    --nav-border: 2px dashed var(--text-color);
    --card-radius: 0.25em;
    transition: all .3s ease;
}

.dark {
    --bg: #12181b;
    --text: #b2becd;
    --background: var(--gray6);
    --text-color: var(--gray2);
    --h-color: #fff;
    --nav-shadow: 4px 0 10px -3px #010101;
    --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.38);
    --toc-shadow: rgba(0, 0, 0, 0.7) 0px 10px 20px 0px;
    --nav-bg: var(--gray5);
    --tag-bg: var(--gray4);
    --code-bg: #22262f;
    --card-bg: var(--gray5);
    --overlay-bg: rgba(0, 0, 0, 0.9);
    --h-border: 2px dashed var(--nav-bg);
    --card-radius: 0.25em;
    transition: all .3s ease;
}

.light {
    --background: var(--gray0);
    --text-color: var(--gray4);
    --h-color: var(--gray6);
    --nav-shadow: 4px 0 10px -3px #c1c1c1;
    --card-shadow: 0 4px 8px rgba(0, 30, 84, 0.12);
    --toc-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px 0px;
    --nav-bg: #fff;
    --tag-bg: var(--gray2);
    --code-bg: #fff;
    --card-bg: #fff;
    --overlay-bg: hsla(0, 0%, 100%, 0.9);
    --h-border: 2px dashed var(--gray1);
    transition: all .5s ease;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: var(--bg);
    scroll-behavior: smooth;
}

body {
    color: var(--text);
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}

// -- for Multiple pages ----------------------------
section.fixed {
    max-width: 1000px;
    margin: 20px auto 60px auto;
    padding: 0px 20px;
    display: block;
}

.title:not(.mini) {
    color: var(--text);
    font-size: 2.2rem;
    line-height: 1.2;
    font-weight: 600;
    max-width: calc(900px + 2em);
    margin: 1em auto;
    padding: 0em 1em;
}

.title-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        margin-bottom: 0;
    }
    button {
        margin: 0;
    }
    margin: 2em 0.6rem;
}

// ---------- dialogs ----------------
.mat-dialog-actions {
    justify-items: center;
    justify-content: center;
}

.cdk-overlay-pane {
    overflow: auto;
}

.inline {
    display: inline-block !important;
}

::selection {
    background: #F9BD0E;
}

::-moz-selection {
    background: #F9BD0E;
}

//---------------- Links ------------------------
a {
    text-decoration: none;
    text-align: center;
}

table a {
    color: var(--s5);
}

a:hover,
a:hover i {
    color: var(--s5);
    text-decoration: none;
}

a,
.day,
input[type=submit],
input[type=button],
button,
select,
[onclick] {
    cursor: pointer;
}

//---------------- Blocks ------------------------
.container {
    padding: 10px;
    background: var(--component-bg);
    color: var(--component-text);
    margin: 20px 0px;
    border: 1px solid rgba(0, 0, 0, .03);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
}

.container i {
    color: var(--s5);
    font-size: large;
    -webkit-transition: 700ms;
    -o-transition: 700ms;
    transition: 700ms;
}

.container button i {
    color: white;
}

.container .title,
.container.title {
    color: white;
    background-color: none;
    text-align: center;
    letter-spacing: 4px;
    font-size: 1.8em;
    padding: 8px;
}

//--------------- Timetable ---------------------
div.responsive {
    @media only screen and (max-width: 900px) {
        table.responsive th {
            display: block;
        }
        table.responsive tr {
            display: block;
            border-bottom: white 1px solid;
            border-top: white 1px solid;
        }
        table.responsive td {
            border: none !important;
            display: block;
            margin: 4px;
        }
    }
    td,
    th {
        border: 1px solid #ddd;
        padding: 8px;
    }
    tr:nth-child(odd) {
        background-color: #ffffff;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    tr:hover {
        background-color: #ddd;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }
    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: black;
        color: white;
    }
    table {
        color: black;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    margin: 20px 0px;
    overflow-x: auto;
}

.dinfo {
    font-size: 0.75em;
    color: #666;
}

table#timetable input[type=text] {
    min-width: 50px;
    max-width: 6vw;
}

//----------------Forms-----------------------
fieldset {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-width: 45%;
    margin: 2px;
    border: none;
    -webkit-box-shadow: 0px 0px 10px 5px #0000001a;
    box-shadow: 0px 0px 10px 5px #0000001a;
}

.bl,
input[type=text],
input[type=password],
input[type=email],
input[type=date],
input[type=file] {
    display: block;
}

input[type=file] {
    display: none;
}

input,
textarea,
select,
.file-select {
    text-align: left;
    font-size: 16px;
    font-family: Catamaran;
    font-weight: normal;
    padding: 5px;
    border-radius: 3px;
    margin: 5px 2px 16px 2px;
    border: none;
}

input[type=button],
input[type=submit],
button {
    text-align: center;
    background-color: var(--s5);
    color: white;
    font-size: 16px;
    border: none;
    margin: 5px;
}

button:focus,
a:focus {
    // box-shadow: black 1px 1px 10px;
    // transition: 0.3s ease-out;
    outline: none;
}

button.transparent {
    background: transparent;
    border: none;
}

button.small {
    width: auto;
    line-height: 1;
    background: var(--s4);
    color: black;
    padding: 7px;
    border: none;
    outline: none;
}

button.upbtn {
    background-color: #002878;
    background-image: linear-gradient(90deg, #10192d 35%, var(--s5));
    background-position: 100% 0;
    background-size: 200% 200%;
    color: white;
    border-radius: 50px;
    padding: 12px 48px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 200;
    text-decoration: none;
    box-shadow: 0 0px 0px 0 rgba(0, 40, 120, 0);
    transition: all 0.5s ease;
    border: none;
}

button.upbtn:hover {
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .25);
    background-position: 0 0;
}

.btn {
    font-size: 16px;
    line-height: 20px;
    padding: 1em 1.2em;
    text-decoration: none;
    text-shadow: none;
    border-radius: 30px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    min-width: 100px;
    margin-top: 2px;
    margin-bottom: 2px;
    -ms-flex-item-align: end;
    align-self: flex-end;
    // background-color: var(--s5) !important;
    // color: white !important;
}

.btn:hover,
.full-button button:hover,
.file-select:hover {
    background-color: var(--s2);
    color: white;
}

button.small i {
    color: black !important;
}

.file-select.btn[selected] {
    background: var(--s3);
    border-bottom: 2px var(--s5) solid;
}

button:disabled {
    background-color: #cccccc;
    color: #666666;
}

//----------------Messages-----------------------
.info,
.success,
.warning,
.error {
    margin: 10px 0px;
    // border-radius: 90px;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 5vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    color: black;
}

.info>span,
.success>span,
.warning>span,
.error>span {
    padding: 3px 10px 3px 3px;
}

.info i,
.success i,
.warning i,
.error i {
    font-size: 1.8em;
    min-width: 2em;
    vertical-align: middle;
    margin-right: 10px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    color: white;
    padding: 0.25em 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.info {
    // color: #00529B;
    background-color: #BDE5F8;
}

.info i {
    background: #00529B;
}

.success {
    // color: #43740F;
    background-color: #DFF2BF;
}

.success i {
    background: #43740F;
}

.warning {
    // color: #9F6000;
    background-color: #FEEFB3;
}

.warning i {
    background: #9F6000;
}

.error {
    // color: #D8000C;
    background-color: #FFBABA;
}

.error i {
    background: #D8000C;
}

//---------------- Others -----------------------
mat-icon {
    height: auto !important;
    width: auto !important;
}

.cc-dismiss {
    width: 100%;
}

p {
    margin: 0px;
}

.full-width {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Catamaran', sans-serif;
    margin: 0px;
}

h1 {
    line-height: 1.2;
    margin-bottom: 0.7em;
}

hr {
    background-color: #ccc;
    border: 0px;
    height: 2px;
    margin: 0em 0em 0.5em 0em;
    max-width: 70%;
}

img {
    height: auto;
    max-width: 100%;
}

.disabled,
[disabled]:not(button) {
    opacity: 0.5;
}

@media only screen and (max-width: 900px) {
    input,
    textarea,
    select {
        max-width: 100%;
    }
}

//---------------- Login ------------------------------
.cover input[type="password"],
.cover input[type="text"],
.cover select,
.login-wrapper input {
    display: block;
    padding: 15px 10px;
    margin: 15px 0px;
    font-family: Catamaran;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    -webkit-transition: border-width 0.2s ease;
    -o-transition: border-width 0.2s ease;
    transition: border-width 0.2s ease;
    background-color: transparent;
    border-bottom: 4px solid var(--s1);
    border-left: 0px solid var(--s2);
    border-top: none;
    border-right: none;
    color: #000;
}

.cover input+i.fa,
.login-wrapper i.fa {
    color: #fff;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    opacity: 0;
    left: -20px;
    transform: translateY(-50%);
    -webkit-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

.cover input:hover,
.login-wrapper input:hover {
    outline: none;
    box-shadow: 0 4px 12px 2px rgba(64, 47, 143, 0.05);
}

.cover input:focus,
.login-wrapper input:focus {
    outline: none;
    color: #444;
    border-color: var(--s2);
    box-shadow: 0 4px 12px 2px rgba(0, 0, 0, .2);
}

.login-wrapper input:focus:not(.noi),
.cover input:focus:not(.noi) {
    border-left-width: 40px;
}

.login-wrapper input:focus:not(.noi)+i.fa,
.cover input:focus:not(.noi)+i.fa {
    opacity: 1;
    left: 0.3em;
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

.login-wrapper {
    position: relative;
}

.cover button {
    background: var(--s5);
    color: #fff;
    border: none;
    max-height: 60px;
    border-radius: 2px;
    -webkit-transform: rotateZ(0deg);
    -ms-transform: rotate(0deg);
    transform: rotateZ(0deg);
    -webkit-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    border-bottom-width: 7px;
    padding: 4px;
}

.margin {
    margin: 10px;
    border-radius: 20px;
}

.flex,
.flexnw {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    min-width: 100px;
}

@media only screen and (min-width: 600px) {
    .flexnw {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
}

// ---- dialog --- add new notification ----------
@media only screen and (min-width: 400px) {
    .main-dialog {
        margin: 2em;
        margin-left: 2em !important;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
