:host {
    display: grid;
    text-align: center;
    width: 100vw;
    height: 100vh;
    justify-items: center;
    align-items: center;
}

img {
    width: 15vw;
    position: fixed;
    top: 0vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    animation: up-down 60s infinite alternate;
}

@keyframes up-down {
    0% {
        top: 18vh;
    }
    47% {
        top: 18vh;
    }
    53% {
        top: 82vh;
    }
    100% {
        top: 82vh;
    }
}

.time {
    font-size: 16vw;
    text-align: left;
    line-height: 0.9;
    // transform: translate(2vh, 1vh);
    // font-family: 'Bubblegum Sans', cursive;
    font-variant-numeric: tabular-nums;
    font-family: 'Voltaire', sans-serif;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.date {
    font-family: 'Cantora One', sans-serif;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    font-size: 3vw;
    color: #aaa;
    padding: 0px 10px;
}

.seconds {
    font-size: 0.5em;
    width: 2.5ch;
    display: block;
}