//-  Ekranas.info paskyra deaktyvuota
div(style='border:none;padding:50px 18px;margin:10px auto;width:500px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;flex-direction:column;-webkit-box-direction:normal;-ms-flex-direction:column;')
  div(style='border-bottom-left-radius:8px;border-top-left-radius:8px;background-color:#233151 ;padding:10px 18px;text-align:center')
    a(href='https://ekranas.info/' target='_blank')
      img(width='125' src='https://www.ekranas.info/assets/logo.png' title='Ekranas.info' style='font-weight:bold;font-size:18px;color:#c13d10;vertical-align:top')
  div(style='background-color:#fff;padding:18px;border-top-right-radius:8px;border-bottom-right-radius:8px;')
    h1(style='font-size:25px;margin:16px 0px;color:#333;text-align:center') Paskyra deaktyvuota!
    p(style='font-size:15px;color:#333;text-align:center') #{sender.name} ištrynė Jūsų paskyra tinklapyje ekranas.info.
    div(style='-webkit-box-shadow: 0px 0px 8px 4px #f6f7f8;box-shadow: 0px 0px 8px 4px #f6f7f8;border-radius: 3px;background-color: #f6f7f8;')
      h1(style='text-align:center;color:#c13d10;font-size:30px;font-weight:bold;padding: 25px 0px;margin:0px;') #{user.name}
    p(style='font-size:14px;color:#AAA')
      | Šis laiškas buvo automatiškai išsiųstas, nes prieš tai sistemoje buvo išsaugota jūsų #{user.email} pašto dėžutę. Atsiprašome, jeigu jūsų tai nedomina, prašome ignoruokite šį laišką.
 