<div class="login-content">
    <div class="card full-button">
        <div class="flex" style="margin-bottom:30px;">
            <a routerLink="/">
                <img src="/assets/logolight.svg" id="main_logo">
            </a>
            <div>
                <div class="mini title">Sveiki!</div>
                <div class="mini title brighter">Ekranas.info paskyros redagavimas</div>
            </div>
        </div>
        <spinner *ngIf="state == 'busy'"></spinner>
        <form action="kvietimas" method="post" *ngIf="state == 'edit'" #userForm="ngForm" (ngSubmit)="submit(userForm)">
            <div class="flexnw margin">
                <div style="width: 200px;margin-bottom: 50px;">
                    <img [src]="this.user.school.logo" alt="Gimnazijos logotipas">
                    <div class="margin">{{ this.user.school.name }}</div>
                    <h3>{{ this.user.name }}</h3>
                    <h4>{{ this.user.email }}</h4>
                </div>
                <div>
                    <div *ngIf="!this.passwordReset">
                        <mat-checkbox [(ngModel)]="this.usernameDialog" name="createUsername" #isUser="ngModel">Sukurti vartotojo vardą</mat-checkbox>
                        <fieldset *ngIf="this.usernameDialog" @slide style="overflow: hidden;">
                            <legend><i class="fas fa-user"></i> Vartotojo vardas</legend>
                            <input type="text" class="noi" name="username" placeholder="Vartotojo slaptažodis" maxlength="20" autocomplete="off" #username="ngModel" ngModel required>
                        </fieldset>
                    </div>
                    <fieldset>
                        <legend><i class="fas fa-key"></i> Slaptažodis</legend>
                        <input type="password" class="noi" placeholder="Naujas slaptažodis" name="password" autocomplete="off" required="" #password="ngModel" ngModel>
                        <input type="password" class="noi" placeholder="Pakartokite slaptažodį" name="repeatedPassword" autocomplete="off" required="" #repeatedPassword="ngModel" ngModel>
                        <div class="flexnw margin" id="passwordInfo"></div>
                    </fieldset>
                </div>
            </div>
            <button style="margin-top:50px;" type="submit" name="submit">{{ ((this.passwordReset) ? 'Išsaugoti slaptažodį' : 'Registruotis') }}</button>
        </form>


        <aside *ngIf="state == 'end'">
            <div class="success"><i class="fas fa-check-circle"></i>Duomenys sėkmingai įrašyti.</div>
            <fieldset class="margin20">
                <h2>Galite prisijungti!</h2>
                <div class="margin">El. paštas: <strong>{{ this.user.email }}</strong></div>
                <div class="margin" *ngIf="!this.passswordReset">Vartotojo vardas: <strong>{{ this.user.username }}</strong></div>
            </fieldset>
            <a routerLink="/" class="margin">
                <button type="button" name="button">Prisijungti</button>
            </a>
        </aside>

        <!-- <div class="error"><i class="fas fa-times-circle"></i>Vartojo vardas yra užimtas! Prašome sugalvoti kitą!</div>
        <div class="error"><i class="fas fa-times-circle"></i>Atnaujinant duomenis įvyko klaida! Bandykite iš naujo! Arba rašyk pagalbai!</div> -->
        <div class="warning" *ngIf="this.state == 'error'"><i class="fas fa-exclamation-circle"></i>Netinkama / negaliojanti nuoroda! <br> Jeigu manai, jog tai klaida, parašyk žinutę pagalbai!</div>
    </div>
</div>