<div class="wrapper">
    <div class="card">
        <img [src]="'/assets/img/layout/' + (state == 'end' ? 'completed' : 'tasks') + '.svg'" alt="Illustration" class="ill">
        <div class="side">
            <div class="logos" *ngIf="state == 'edit'; else justLogo">
                <img src="/assets/logoblue.svg" id="logo" routerLink="/" alt="logo">
                <img [src]="this.user.school.logo" alt="second logo">
            </div>
            <ng-template #justLogo>
                <img src="/assets/logoblue.svg" id="logo" routerLink="/" alt="logo">
            </ng-template>
            <div class="title">Informacinio ekrano<br/>paskyros redagavimas</div>
            <spinner *ngIf="state == 'busy'"></spinner>
            <div @slide class="warning" *ngIf="this.state == 'error'"><i class="fas fa-exclamation"></i>Netinkama / negaliojanti nuoroda! <br> Jeigu manai, jog tai klaida, parašyk žinutę pagalbai!</div>
            <form action="kvietimas" method="post" *ngIf="state == 'edit'" #userForm="ngForm" (ngSubmit)="submit(userForm)" @slide>
                <mat-form-field class="full-width">
                    <mat-label>Vardas, pavardė</mat-label>
                    <input matInput [(ngModel)]="this.user.name" name="name" class="full-width" readonly ngModel>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Švietimo įstaiga</mat-label>
                    <input matInput [(ngModel)]="this.user.school.name" name="organization" class="full-width" readonly ngModel>
                </mat-form-field>
                <ng-container *ngIf="!this.passwordReset">
                    <div class="usernamebox">
                        <mat-checkbox [(ngModel)]="this.usernameDialog" name="createUsername" #isUser="ngModel">Sukurti vartotojo vardą</mat-checkbox>
                    </div>
                    <mat-form-field class="full-width" *ngIf="this.usernameDialog" @slide>
                        <mat-label>Vartotojo vardas</mat-label>
                        <input type="text" matInput name="username" #username="ngModel" ngModel required class="full-width" #password="ngModel">
                    </mat-form-field>
                </ng-container>
                <mat-form-field class="full-width">
                    <mat-label>Naujas slaptažodis</mat-label>
                    <input type="password" matInput name="password" class="full-width" #password="ngModel" ngModel required>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Pakartokite slaptažodį</mat-label>
                    <input type="password" matInput name="repeatedPassword" class="full-width" #repeatedPassword="ngModel" ngModel required>
                </mat-form-field>
                <button type="submit" name="submit" class="upbtn">{{ ((this.passwordReset) ? 'Išsaugoti slaptažodį' : 'Registruotis') }}</button>
            </form>
            <div *ngIf="state == 'end'" @slide>
                <div class="success"><i class="fas fa-check"></i> Sėkmingai {{this.passswordReset? 'pakeistas slaptažodis' : 'paskyros duomenys įrašyti'}}</div>
                <ng-container *ngIf="!this.passswordReset && this.user.username; else simple">
                    <div class="double">
                        <p>Vartotojo vardas:</p>
                        <p>{{ this.user.username }}</p>
                        <p>El. paštas:</p>
                        <p>{{ this.user.email }}</p>
                    </div>
                </ng-container>
                <ng-template #simple>
                    <p>Galite prisijungti!</p>
                </ng-template>
                <button type="button" name="button" class="upbtn" routerLink="/">Prisijungti</button>
            </div>
        </div>
    </div>
</div>