@media only screen and (min-width: 600px) {
    .card {
        min-width: 600px;
    }
}

@media only screen and (max-width: 500px) {
    .card {
        width: 100% !important;
        margin: 0px !important;
    }
}